*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7d298a;
    --pink-low: #3f0f41;
    --blue-light: #73b6d2;
    --blue-base: #248bb9;
    --blue-mid: #2374a4;
    --blue-dark: #144a72;
    --blue-low: #08233c;
    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000f1f;
    --shape-background: #00050a;
    --text-color-title: #f8fbfb;
    --text-color-body: #e2e7e9;
    --text-color-label: #bac6c9;
    --ff-base : "Raleway", sans-serif;
    --title-lg: 700 1.75rem  var(--ff-base);
    /* --title-md: 800 2.5rem  var(--ff-base); */
    --title-sm: 700 1.5rem/1  var(--ff-base);
    --title-xs: 700 1rem  var(--ff-base);
    --subtitle: 500 1rem/1.4  var(--ff-base);
    --text-lg: 300 0.875rem/1.4 var(--ff-base);
    --text-md: 300 1rem/1.4 var(--ff-base);
    /* --text-sm:  */
    --text-xs: 300 0.75rem/1.4 var(--ff-base);
    --text-button: 700 .875rem var(--ff-base);
    --text-link: 500 .875rem var(--ff-base);
    --text-tag: 700 .875rem var(--ff-base);
}

body{
    width: 100%;
    background-color: var(--shape-background);
    color: var(--text-color-body);
    overflow-y: scroll;
    font-family: var(--ff-base);
}


h1, h2 {
    color: var(--text-color-title);
}

h1 {
    font: var(--title-lg);
}

h2{
    font: var(--title-sm);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    padding-inline: 1.25rem;
}

.flex{ 
    display:  flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
}


.text-body {
    color: var(--text-color-body);
    font: var(--text-sm);
}

@keyframes hoverBtn {
    
}

@media (width >= 80em) {
    :root {
        --title-lg: 800 3rem  var(--ff-base);
        --title-md: 800 2.5rem  var(--ff-base);
        --title-sm: 800 2rem  var(--ff-base);
        --title-xs: 800 1rem  var(--ff-base);
        --subtitle: 600 2rem/2  var(--ff-base);
        --text-lg: 400 1.25rem/1.4 var(--ff-base);
        --text-md: 400 1rem/1.4 var(--ff-base);
        --text-sm: 400 0.875rem/1.4 var(--ff-base);
        --text-xs: 400 0.75rem/1.4 var(--ff-base);
        --text-button: 800 .875rem var(--ff-base);
        --text-link: 600 .875rem var(--ff-base);
        --text-tag: 800 .875rem var(--ff-base);
    }
}


